* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  margin: auto;
  text-align: center;
  color: #f4fafd;
  background-color: #0f1e32;
}

.body {
  margin: 25px 0px;
  display: grid;
  grid-template-columns: 1fr;
}

.loading {
  position: fixed;
  color: #f1f1f0;
  left: 0;
  bottom: 0;
  padding: 2px;
}

.body table tbody tr td {
  text-align: center;
}

.body table tbody tr:nth-child(odd) {
  background: #c2d2e9;
}

.body table tbody tr:nth-child(even) {
  background: #f1f1f0;
}

.footer {
  width: 100vw;
  background-color: #5886af;
  color: #f4fafd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}